[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/cef-cmake"]
	path = external/cef-cmake
	url = https://github.com/iboB/cef-cmake.git
